<h3>Sign in</h3>

<p>Enter ur username and password</p>

<form method="post" action="/loginauth">
  <% @oauth2.params.each do |key, value| %>
    <input type="hidden" name="<%= key %>" value="<%= value %>">
  <% end %>

  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </fieldset>

  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </fieldset>

  <fieldset>
    <input type="submit" value="Sign in">
  </fieldset>
</form>

