<!DOCTYPE html>
<html lang="en-US">
<h1>User Management</h1>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <% if !flash.empty? %>
      <div class="row" id="flash">
        <% if flash.key?(:notice) %>
        <div class="span6 offset3 alert alert-success">
          <%= flash[:notice] %></p>
        </div>
        <% elsif flash.key?(:error) %>
        <div class="span9 offset3 alert alert-error">
          <%= flash[:error] %></p>
        </div>
        <% end %>
        <script type="text/javascript">
          $(function(){
              $("#flash").fadeOut(2000);
          });
        </script>
      </div>
    <% end %>
    <div class="row">
      <div class="span12 offset2">
        <span id="header"></span>
      </div>
      <div class="row">
        <nav id="navigation">
        </nav>
      </div>
      <div class="row">
        <div class="span9 offset3 site">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
